* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bitter", serif;
}

header {
    width: 54%;
    padding: 15px;
    margin: auto;
}

header nav {
    display: flex;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 650;
}

.sidebar {
    margin: 110px 0;
    margin-left: 200px;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar li {
    gap: 20px;
}

ul li {
    list-style: none;
}

li {
    font-weight: 600;
}

ul span {
    color: grey;
}

.shoes {
    margin-left: 22%;
    position: relative;
    top: -180px;
}

.r1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5%;
}

.r2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5%;
    margin-top: 90px;
}

.r1 img {
    width: 85%;
    margin-bottom: 40px;
}

.r2 img {
    width: 85%;
    margin-bottom: 40px;
}

.shoe-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item, .stock {
    color: #9a9999;
    font-size: 14px;
}

.shoe-name {
    font-size: 22px;
}

.price {
    font-weight: 700;
}

